## Import Lib

In [21]:
import pickle
import pandas as pd
import numpy as np
import sklearn

# Demo RandomForest - `Penentuan Harga Pasar`

## Import Data Regression

In [141]:
data_reg = pd.read_csv('Data/DC_Prop_Residential_Regression_DEMO.csv', index_col= 'Unnamed: 0')

# Set Index
indeks = pd.Series(range(data_reg.shape[0]))
data_reg = data_reg.set_index([indeks])

# Sampling
ID_PROP = [1591, 14932, 29502]

data_reg_sample = data_reg.loc[(data_reg['index'] == ID_PROP[0]) | (data_reg['index'] ==  ID_PROP[1]) | (data_reg['index'] ==  ID_PROP[2])]
data_reg_RF = data_reg_sample.drop(['index', 'PRICE'], axis =1)

In [142]:
data_reg_RF.head()

,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,SALE_NUM,...,INTWALL_Vinyl Comp,INTWALL_Vinyl Sheet,INTWALL_Wood Floor,WARD_Ward 2,WARD_Ward 3,WARD_Ward 4,WARD_Ward 5,WARD_Ward 6,WARD_Ward 7,WARD_Ward 8
805,2,0,1.0,5,2,1911.0,1967.0,1967,2.0,1,...,0,0,0,0,0,0,0,1,0,0
7263,3,0,1.0,8,3,1955.0,1991.0,1967,2.0,1,...,0,0,0,0,0,0,0,1,0,0
12689,3,1,1.0,7,3,1939.0,1986.0,1986,2.0,3,...,0,0,0,0,1,0,0,0,0,0

In [143]:
model_RF = 'model_randomForest_r_undrop.sav'
loaded_model_RF = pickle.load(open(model_RF, 'rb'))

In [144]:
predict_RF= pd.DataFrame(loaded_model_RF.predict(data_reg_RF))
predict_RF.columns = ['PREDICT_PRICE']
predict_RF['PREDICT_PRICE'] = predict_RF['PREDICT_PRICE']**3
predict_RF

   PREDICT_PRICE
0   2.640646e+05
1   5.505301e+05
2   1.112888e+06

In [147]:
cols = data_reg_sample.columns.to_list() + predict_RF.columns.to_list()
dfs = [data_reg_sample,predict_RF]
result = np.concatenate(dfs, axis=1)  
result = pd.DataFrame(result, columns=cols)
result.head()

,index,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,...,INTWALL_Vinyl Sheet,INTWALL_Wood Floor,WARD_Ward 2,WARD_Ward 3,WARD_Ward 4,WARD_Ward 5,WARD_Ward 6,WARD_Ward 7,WARD_Ward 8,PREDICT_PRICE
0,1591.0,2.0,0.0,1.0,5.0,2.0,1911.0,1967.0,1967.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.640646e+05
1,14932.0,3.0,0.0,1.0,8.0,3.0,1955.0,1991.0,1967.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5.505301e+05
2,29502.0,3.0,1.0,1.0,7.0,3.0,1939.0,1986.0,1986.0,2.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.112888e+06

# Demo KMEANS - `Penentuan Resiko`

## Import data Clustering

In [148]:
# Loading the dataset
data_clus = pd.read_csv('Data/DC_Prop_Residential_Clustering_DEMO.csv', index_col='Unnamed: 0')

In [149]:
# Set Index
indeks = pd.Series(range(data_clus.shape[0]))
data_clus = data_clus.set_index([indeks])

# Sampling
ID_PROP = [1591, 14932, 29502]

data_clus_sample = data_clus.loc[(data_clus['index'] == ID_PROP[0]) | (data_clus['index'] ==  ID_PROP[1]) | (data_clus['index'] ==  ID_PROP[2])]
data_clus_KM = data_clus_sample.drop(['index'], axis =1)

In [150]:
model_KM = 'model_Clus_Kmeans_r.sav'
loaded_model_KM = pickle.load(open(model_KM, 'rb'))

In [151]:
predict_KM= pd.DataFrame(loaded_model_KM.predict(data_clus_KM))
predict_KM.columns = ['PREDICT_CLUSTER']
predict_KM

C:\Users\user\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but KMeans was fitted without feature names
  warnings.warn(

   PREDICT_CLUSTER
0                1
1                1
2                0

In [152]:
cols = result.columns.to_list() + predict_KM.columns.to_list()
dfs = [result,predict_KM]
result = np.concatenate(dfs, axis=1)  
result = pd.DataFrame(result, columns=cols)
result.head()

,index,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,...,INTWALL_Wood Floor,WARD_Ward 2,WARD_Ward 3,WARD_Ward 4,WARD_Ward 5,WARD_Ward 6,WARD_Ward 7,WARD_Ward 8,PREDICT_PRICE,PREDICT_CLUSTER
0,1591.0,2.0,0.0,1.0,5.0,2.0,1911.0,1967.0,1967.0,2.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.640646e+05,1.0
1,14932.0,3.0,0.0,1.0,8.0,3.0,1955.0,1991.0,1967.0,2.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5.505301e+05,1.0
2,29502.0,3.0,1.0,1.0,7.0,3.0,1939.0,1986.0,1986.0,2.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.112888e+06,0.0

In [154]:
result['RISK'] = np.where(result['PREDICT_CLUSTER'] == 0, 0.8, 
                    (np.where(result['PREDICT_CLUSTER'] == 1, 0.5, 0.7)))

In [155]:
result

,index,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,...,WARD_Ward 2,WARD_Ward 3,WARD_Ward 4,WARD_Ward 5,WARD_Ward 6,WARD_Ward 7,WARD_Ward 8,PREDICT_PRICE,PREDICT_CLUSTER,RISK
0,1591.0,2.0,0.0,1.0,5.0,2.0,1911.0,1967.0,1967.0,2.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.640646e+05,1.0,0.5
1,14932.0,3.0,0.0,1.0,8.0,3.0,1955.0,1991.0,1967.0,2.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5.505301e+05,1.0,0.5
2,29502.0,3.0,1.0,1.0,7.0,3.0,1939.0,1986.0,1986.0,2.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.112888e+06,0.0,0.8

## PREDIKSI HARGA BELI

In [156]:
result['HARGA_BELI']=result['PREDICT_PRICE']*result['RISK']
result

,index,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,...,WARD_Ward 3,WARD_Ward 4,WARD_Ward 5,WARD_Ward 6,WARD_Ward 7,WARD_Ward 8,PREDICT_PRICE,PREDICT_CLUSTER,RISK,HARGA_BELI
0,1591.0,2.0,0.0,1.0,5.0,2.0,1911.0,1967.0,1967.0,2.0,...,0.0,0.0,0.0,1.0,0.0,0.0,2.640646e+05,1.0,0.5,132032.292290
1,14932.0,3.0,0.0,1.0,8.0,3.0,1955.0,1991.0,1967.0,2.0,...,0.0,0.0,0.0,1.0,0.0,0.0,5.505301e+05,1.0,0.5,275265.066248
2,29502.0,3.0,1.0,1.0,7.0,3.0,1939.0,1986.0,1986.0,2.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.112888e+06,0.0,0.8,890310.654398

## DEMO TIME SERIES - `Prediksi Tren Kenaikan Harga`

In [157]:
tren_res = 0.0681
tren_con = 0.1643

result['TREND'] = tren_res

## Prediksi Harga Jual

In [158]:
result['HARGA_JUAL'] = result['PREDICT_PRICE'] * (1+result['TREND'])
result['PROFIT'] = result['HARGA_JUAL'] - result['PREDICT_PRICE']

AYH = result[['index', 'PREDICT_PRICE',	'PREDICT_CLUSTER',	'RISK',	'HARGA_BELI', 'TREND', 'HARGA_JUAL', 'PROFIT']]
AYH

,index,PREDICT_PRICE,PREDICT_CLUSTER,RISK,HARGA_BELI,TREND,HARGA_JUAL,PROFIT
0,1591.0,2.640646e+05,1.0,0.5,132032.292290,0.0681,2.820474e+05,17982.798210
1,14932.0,5.505301e+05,1.0,0.5,275265.066248,0.0681,5.880212e+05,37491.102023
2,29502.0,1.112888e+06,0.0,0.8,890310.654398,0.0681,1.188676e+06,75787.694456